@import "./utils/mixins";
@import "./utils/variables.scss";

// styling for the container holding all posts
.posts-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: 10px;
  gap: 20px;
  @include desktop-only {
    align-items: normal;
  }
}
// post link styling
.posts-link {
  text-decoration: none;
  color: black;
}
// styling for each individual post
.posts {
  width: 90%;
  margin-left: 5px;
  padding: 10px;
  border-radius: 3ch;
  border-style: solid;
  text-decoration: none;
  transition: filter 2s ease;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: $dark-red-color;
    border-color: $dark-red-color;
    color: white;
    filter: drop-shadow(10px 10px 20px rgba(36, 36, 36, 0.5));
  }
  &__title {
    font-weight: bold;
    padding-bottom: 10px;
  }
}

.modal {
  position: absolute;
  z-index: 99;
  border-style: dashed;
}
