.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  &__logo {
    width: 20%;
    // change for mobile
  }
  &__links {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-right: 10px;
    & a {
      text-decoration: none;
      color: black;
    }
  }
}

.signup-form {
  display: flex;
  flex-direction: column;
}
