@import "./utils/mixins";
@import "./utils/variables.scss";
.nav-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  &__logo {
    width: 20%;
    @include desktop-only {
      width: 50%;
    }
  }
  @include desktop-only {
    padding-left: 40px;
    padding-right: 40px;
  }
  // &__search {
  //   display: flex;
  //   flex-direction: row;
  //   & input {
  //     width: 400px;
  //   }
  // }
  // &__search-mobile {
  //   display: flex;
  //   flex-direction: row;
  // }

  &__menu a {
    color: $dark-red-color;
    font-size: 30px;
  }
}
