$navy-color: rgb(44, 63, 121);

.nav-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;

  // @include desktop-only
  padding-left: 40px;
  padding-right: 40px;
  &__mobile {
    padding-left: 0px;
    padding-right: 0px;
  }
  & img {
    width: 50%;
  }
  &__search {
    display: flex;
    flex-direction: row;
    // @include desktop-only
    & input {
      width: 400px;
    }
  }
  &__search-mobile {
    display: flex;
    flex-direction: row;
  }

  &__profile a {
    text-decoration: none;
    color: $navy-color;
    font-size: 30px;
    // @include desktop-only {
    //   padding-right: 30px;
    // }
  }
}
