@import "./utils/mixins";
@import "./utils/variables.scss";
.nav-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  &__logo {
    width: 20%;
    @include desktop-only {
      width: 50%;
    }
  }
  @include desktop-only {
    padding-left: 20px;
    padding-right: 20px;
  }
  &__menu a {
    color: $dark-red-color;
    font-size: 30px;
  }
}
